.container {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.container > div {
  flex-basis: 33%;
}

.container > div h2 {
  text-transform: capitalize;
  font-weight: 900;
  padding: 1em 0 0.5em 0;
}

.container > div ul {
  width: 100%;
  border: rgba(128, 128, 128, 0.473) 1px solid;
  box-shadow: 2px 2px 5px #09c59c, -2px -2px 5px #007bff;
  border-radius: 5px;
  list-style: none;
  text-align: center;
}

.container > div ul li {
  width: auto;
  padding: 1em 0 1em 12.38px;
  border-top: rgba(128, 128, 128, 0.473) 1px solid;
}

.container > div ul span {
  width: auto;
  padding: 1em 0 1em 12.38px;
  color: #f68d36;
  font-size: 1.6rem;
  font-style: italic;
}

.container > div ul li span {
  width: auto;
  padding: 1em 0 1em 12.38px;
  color: #2f2f31;
  font-size: 1.5rem;
}
